@charset "utf-8";
/* CSS Document */
a.header_login_cancel{
	position:fixed;
	font-family: verdana, helvetica, arial, sans-serif;
	top: 160px; right: 330px;
	padding: 10px;
	font-weight: 700;
	background:url(images/minus.png) 50% 48% no-repeat;
	display: block;
}

a.header_trigger{
	position: fixed;
	text-decoration: none;
	top: 0px; right: 0px;
	font-size: 10px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 15px 25px 40px;
	font-weight: 700;
	background:#093349 url(images/down.png) 22% 48% no-repeat;
	display: block;
}

a.header_trigger:hover{
	position: fixed;
	text-decoration: none;
	font-size: 10px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 15px 25px 40px;
	font-weight: 700;
	background:#255670 url(images/down.png) 22% 48% no-repeat;
	border:1px solid #444444;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	display: block;
}

a.active.header_trigger {
	background:#255670 url(images/up.png) 22% 48% no-repeat;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
}

.header_panel {
	position: fixed;
	font-size:11px;
	text-align:left;
	color:#CCC;
	margin:0 auto;
	padding:0;
	display: none;
	background: #255670;
	-moz-border-radius-topleft: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	width: 200px;
	height: auto;
	padding: 30px 130px 30px 30px;
	z-index: 1;
}

input.submit{
	font-size:11px;
	height: 50px;
	border:thick;
}

#login_loading{
	position:fixed;
	font-size:11px;
	right:29px;
	top:91px;
	height: 50px;
	border:thick;
	position:fixed;
	background:url(images/loading.gif) no-repeat;
	width:42px;
	height:42px;
}

#alert_login{
	position:fixed;
	top:145px;
	right:25px;
	width:300px;
	color:#FFC4C4;
}
#alert_login a{
	color:white;
}
#header_id_login_panel{
	top: 57px;
	right: 0;	
}
#header_id_login{
	top: 0px; right: 0px;
}
#header_id_login:hover{
	top: -1px; right: -1px;
}

#header_id_logoff_panel{
	background:none;
}
#header_id_logoff{
	background:none;
	padding: 20px 15px 25px 15px;
	top: 0px; right: 0px;
}
#header_id_logoff:hover{
	background:#255670;
	top: -1px; right: -1px;
}