@charset "utf-8";
/* CSS Document */
#main .input{
	border:1px solid #ccc;
	font-size:11px;
}
#main .select{
	font-size:11px;
}
#main a.submit{
	background:#FFCECE;
	color:black;
	font-weight:bold;
	border:1px solid #ccc;
	font-size:11px;
	padding:3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration:none;
	text-transform:uppercase;
}
a.submit#add{
	background:#FFCECE url('images/plus.png') 1% 50% no-repeat;
	padding-left:23px;
}
#main #db_cmd{
	width:90%;
	text-align:left;
	padding:5px;
	margin-bottom:5px;
	border:1px solid #ccc;
	text-align:left;
}
#main #db{
	width:95%;
	border:1px solid #CCC;
}
#db_main {
	font:10px Verdana, Geneva, sans-serif;
	border:1px solid #CCC;
	text-align:left;
	font-size:11px;
}
#db_menu a{
	font:10px Verdana, Geneva, sans-serif;
	color:black;
	font-weight:bold;
	background:#FFDFE0;
	padding:3px;
	padding-top:7px;
	padding-bottom:6px;
	display:compact;
	float:left;
	letter-spacing:2px;
	border:1px solid #900;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	text-decoration:none;
}
#db_menu a:hover{background:#FFB3B5;}
#db_menu a.active{background:#FF5155;color:white;border-bottom:none;}
#db_menu a#db_mk{background:#E1DFFF;}
#db_menu a#db_mk:hover{background:#C1B3FF;}
#db_menu a#db_mk.active{background:#6251FF;color:white;}
#db_menu a#db_sc{background:#E1DFFF;}
#db_menu a#db_sc:hover{background:#C1B3FF;}
#db_menu a#db_sc.active{background:#6251FF;;color:white;}
#db_menu a#db_jf:hover{background:#FFFBB3;}
#db_menu a#db_jf{background:#FEFFDF;}
#db_menu a#db_jf.active{background:#FFFB51;color:white;}
#db_menu a#db_h:hover{background:#B3FFB8;}
#db_menu a#db_h{background:#DFFFE1;}
#db_menu a#db_h.active{background:#51FF55;color:white;}

#main table#db tr:hover{background:#44D200;color:white;}
#main table#db.red th{background:#FF8285;color:white;}
#main table#db.red tr{background:#FFD2D2;}
#main table#db.red tr#diff{background:#FFB0B0;}
#main table#db.red tr#diff:hover{background:#D20000;color:white;}
#main table#db.red tr:hover{background:#D20000;color:white;}
#main table#db.blue th{background:#829EFF;color:white;}
#main table#db.blue tr{background:#D2E0FF;}
#main table#db.blue	tr#diff{background:#B0B8FF;}
#main table#db.blue tr#diff:hover{background:#1000D2;color:white;}
#main table#db.blue tr:hover{background:#1000D2;color:white;}
#main table#db.yellow th{background:#EFFF82;}
#main table#db.yellow tr{background:#FEFFD2;}
#main table#db.yellow tr#diff{background:#FDFFB0;}
#main table#db.yellow tr#diff:hover{background:#D2CD00;color:white;}
#main table#db.yellow tr:hover{background:#D2CD00;color:white;}

#main a#e {background:url('images/e.png') 50% 50% no-repeat;padding:7px;text-decoration:none;}
#main a#v {background:url('images/v.png') 50% 50% no-repeat;padding:7px;text-decoration:none;}
#main a#x {background:url('images/x.png') 50% 50% no-repeat;padding:7px;text-decoration:none;}
#main{
	font:11px Verdana, Geneva, sans-serif;
	border: 1px solid #CCC;
	position:static;
}
#main table#legend_krs{
	width:60%;
	margin-left:10px;
	margin-top:5px;
}

#main table{
	width:80%;
	font:10px Verdana, Geneva, sans-serif;
	text-align:left;
}
#main tr{
	background:#D2FFD5;
}
#main tr#diff{
	background:#B0FFB7;
}
#main tr.red{
	background:#FFE1E2;
}
#main tr#diff.red{
	background:#FFAEB0;
}
#main tr#diff.blue{
	background:#B1FEFE;
}
#main tr.blue{
	background:#E1FEFF;
}
#main td{
	border:#F2F2F2;
	padding:2px;
	padding-left:5px;
}
#main table#krs_profile_student{
	width:50%;
}

#main td#EL{
	border-left:none;
}
#main td#ER{
	border-right:none;
}
#main td#ERbold{
	border-right:none;
	font-weight:bold;
}
#main td#bold{
	font-weight:bold;
}
#main #red_mozilla{
	font-size:9px;
	color:red;
	background:#FFE6E7;
	width:50%;
	margin:5px;
	margin-bottom:-7px;
	padding:2px;
}
#main table#db th{
	border:solid 1px #900;
	color:#900;
	background:#82FF8B;
	text-align:center;
	letter-spacing:1px;
	text-transform:uppercase
}
#main table#mk{
	width:95%;
}
#main table#mk td{
	width:10%;
}
#main table#mk #center{
	text-align:center;
}
#main table#mk th{
	border:solid 1px #900;
	color:#900;
	background:#82FF8B;
	text-align:center;
	letter-spacing:1px;
	text-transform:uppercase
}
#main table#mk th#mk_nrp{
	background:#82FFDA;
}
#main table#mk td#nama_mat_kul{
	width:46%;
}
#main table#mk tr:hover{
	background:#44D200;
	color:white;
	text-transform:uppercase;
}
#main #header_krs_semester{
	font-size:12px; 
	font-weight:bold;
	text-transform:uppercase;
	color:#900;
	padding:5px;
}
#main #status_already{
	background:url(images/a.png) 15% 55% no-repeat;
}

#main #list_mat_kul2{
	width:95%;
	border:solid 1px #CCC;
}
#div_ov_list_mk_student{
	width:100%;
	border:1px solid #ccc;
	border-top:none;
	overflow:auto; 
}
#div_ov_list_mk_student table{
	width:100%;
	font:10px Verdana, Geneva, sans-serif;
	text-align:left;
}
#div_ov_list_mk_student tr{
	background:#E1FEFF;
}
#div_ov_list_mk_student tr#diff{
	background:#B1FEFE;
}
#div_ov_list_mk_student tr:hover{
	background:#04A0CE;
	color:white;
}
#div_ov_list_mk_student tr#diff:hover{
	background:#04A0CE;
	color:white;
}
#div_ov_list_mk_student th{
	border:solid 1px #900;
	color:#900;
	background:#83F4FE;
	text-align:center;
	letter-spacing:1px;
	text-transform:uppercase
}
#div_ov_list_mk_student td{
	border:#F2F2F2;
	padding:2px;
	padding-left:5px;
}
#center{
	text-align:center;
}

#list_mk_req table{
	width:100%;
	text-align:left;
	font-weight:normal;
	border:solid 1px black;
	padding-top:5px;
	padding-bottom:5px;
}
#list_mk_req tr{
	font:9px Verdana, Geneva, sans-serif;
	background:#D2FFD5;
	font-weight:normal;
	letter-spacing:normal;
}
#list_mk_req tr#red{
	font:9px Verdana, Geneva, sans-serif;
	background:#FFE1E2;
	letter-spacing:normal;
}
#list_mk_req th{
	border:thin 1px #FF0;
	color:#900;
	background:#FFFCD9;
	text-align:center;
	letter-spacing:1px;
	padding-left:5px;
	padding-right:5px;
}
#list_mk_req td{
	border:#F2F2F2;
	padding:2px;
	padding-left:5px;
}