@charset "utf-8";
/* CSS Document */

#header {
	position:fixed;
	background: #093349;
	width:100%;
	height:40px;
	padding: 0 10px 0 20px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	margin: auto; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
} 
#header_white {
	margin-top:50px;
	position:fixed;
	background: #FFF;
	width:100%;
	height:22px;
	z-index:0;
} 

#header h1{
	position:relative;
	margin: 5px 0 0 145px;
	font-size:1em;
	color:#FFF;
}
