@charset "utf-8";
/* CSS Document */

body  {
    margin:0;
    padding:0 right-sidebar-<length>  footer-<length> left-sidebar-<length>;
	width: 100%;
	font: 100% Tahoma, Geneva, sans-serif;
	background: #FFF;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: left; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}

#container { 
	background:#FFF;
} 

#container_space {
	width: 844px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFF;
	padding-top:82px;
	margin-left: 129px; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */	
	margin-bottom:2em;
	padding-left:7px;
} 


